.page{
    .banner{
        .banner-content-wrap{
            .title-wrap{
                height: 100%;
                @include flex;
                align-items: center;
               
                .title-center{
                    max-width: 460px;
                    span{
                        display: block;
                        padding-bottom: 30px;
                        letter-spacing: 3px;
                    }
                    h3{
                        margin-bottom: 0 !important;
                    }
                    @media only screen and (max-width: $lg-desktop){
                        max-width: 410px;
                        span{
                            padding-bottom: 20px;
                        }
                    }
                    @media only screen and (max-width: $md-desktop){
                        max-width: 318px;
                        padding-bottom: 15px;
                    }
                    @media only screen and (max-width: $lg-tab){
                        text-align: center;
                        margin: auto;
                        max-width: 400px;
                    }
                }
            }
            .image-wrap{
                img{
                    width: 80%;
                }
                @media only screen and (max-width: $lg-desktop){
                    img{
                        width: 70%;
                    }
                }
                @media only screen and (max-width: $lg-tab){
                    text-align: center;
                    margin-top: 3rem;
                    img{
                        width: 300px;

                    }
                }
                
                &.service3-img-wrap{
                    img{
                        width: 550px;
                    }
                    @media only screen and (max-width: $md-desktop){
                        text-align: center;
                        img{
                            width: 400px; 
                        }
                    }
                }
            }
        }
    }

    .info-content{
        .content-wrap{
            .info-heading{
                padding-top: 3.125rem;
                .info-center{
                    h3{
                        max-width: 400px;
                        margin-bottom: 2.375rem;
                        @media only screen and (max-width: $lg-desktop){
                            max-width: 300px;
                        }
                        @media only screen and (max-width: $md-desktop){
                            max-width: 270px;
                            margin-bottom: 1.75rem;
                        }
                        @media only screen and (max-width: $lg-tab){
                            text-align: center;
                            margin: 0 auto 1.75rem;
                            max-width: 600px;
                        }
                    }
                    p{
                        margin-bottom: 0 !important;
                        max-width: 330px;
                        @media only screen and (max-width: $md-desktop){
                            max-width: 280px;
                        }
                        @media only screen and (max-width: $lg-tab){
                           margin: auto;
                           text-align: center;
                           max-width: 500px
                        }
                    }
                }
            }
            .info-lists{
                @include border-radius-circle(20px);
                @include boxshadow($boxshadow: 0px 15px 20px $color-box-shadow);
                @media only screen and (max-width: $lg-tab){
                    max-width: 450px;
                    margin: 2.5rem auto;
                }
                .info-list-wrap{
                    padding: 5rem 4rem;
                    text-decoration: none;
                    @media only screen and (max-width: $lg-desktop){
                        padding: 4rem 3rem;
                    }
                    @media only screen and (max-width: $md-desktop){
                        padding: 3rem 2rem;
                    }
                    .list-item{
                        padding-left: 30px;
                        margin-bottom: 1.5rem;
                        background: url('.././img/24px (check-circle).svg') no-repeat;  
                        background-position: left; 
                        background-size: 18px 18px;
                        text-transform: capitalize;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        @media only screen and (max-width: $md-desktop){
                            margin-bottom: 1.25rem;
                        }
                    }
                }
            }
        }
        &.service-second{
            .content-wrap{
                .info-heading{
                    padding-top: 0;
                    .info-center{
                        max-width: 386px;
                        @media only screen and (max-width: $lg-tab){
                            margin: auto;
                            text-align: center;
                        }
                        .service2-span{
                            padding-bottom: 50px;
                        }
                        p{
                            max-width: 100%;
                            color: $color-darkgrey !important;
                            &:nth-child(3){
                                padding-top: 15px;
                            }
                        }
                    }
                }
                .lists-heading{
                    .list-wrap{
                        width: 80%;
                        @media only screen and (max-width: $md-desktop){
                            width: 60%;
                        }
                        @media only screen and (max-width: $lg-tab){
                           margin: auto;
                            padding-top: 4rem;
                        }
                        .list-item{
                            @include flex_start;
                            align-items: center;
                            @include border-bottom(1px, solid, $color-borderbtm);
                            &:nth-child(1){
                                padding-bottom: 1.325rem;
                            }
                            &:nth-child(2){
                                padding: 1.325rem 0;
                            }
                            &:nth-child(3){
                                padding-top: 1.325rem;
                                @include border-bottom(0px, solid, transparent);
                                div{
                                    span{
                                        max-width: 155px;
                                    }
                                }
                            }
                            div{
                                @include flexcenter;
                                span{
                                    max-width: 200px;
                                }
                            }
                            figure{
                                @include flex;
                                align-items: center;
                                flex: 0 0 80px;
                                margin-right: 2.25rem;
                                margin-bottom: 0;
                            }
                            @media only screen and (max-width: $lg-desktop){
                                &:nth-child(1){
                                    padding-bottom: 1rem;
                                }
                                &:nth-child(2){
                                    padding: 1rem 0;
                                    
                                }
                                &:nth-child(3){
                                    padding-top: 1rem;
                                    div{
                                        span{
                                            max-width: 120px;
                                        }
                                    }
                                }
                                div{
                                    span{
                                        max-width: 150px;
                                    }
                                }
                                figure{
                                    flex: 0 0 62px;
                                    margin-right: 1.5rem;
                                }
                            }
                            @media only screen and (max-width: $md-desktop){
                                div{
                                    span{
                                        max-width: 120px;
                                    }
                                }
                                figure{
                                    flex: 0 0 55px;
                                }
                            }
                            @media only screen and (max-width: $lg-tab){
                                @include flexcenter;
                                div{
                                    span{
                                        text-align:center;
                                    }
                                }
                            }
                            @media only screen and (max-width:$mb-xs){
                                figure{
                                    margin-right: 0;
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                }  
            }
        }
        &.service-third{
            .content-wrap{
                .heading-wrap{  
                    .span-center{
                        padding-bottom: 2.875rem;
                        @include flexcenter;
                        @media only screen and (max-width: $lg-desktop){
                            padding-bottom: 2.5rem;
                        }
                        @media only screen and (max-width: $md-desktop){
                            padding-bottom: 2rem;
                        }
                        h3{
                            max-width: 620px;
                            text-align: center;
                            @media only screen and (max-width: $lg-desktop){
                                max-width: 560px;
                            }
                            @media only screen and (max-width: $md-desktop){
                                max-width: 460px;
                            }
                            @media only screen and (max-width: $lg-tab){
                                margin: auto;
                            }
                        }
                    }
                    p{
                        margin: 0 auto;
                        max-width: 1050px;
                        text-align: center;
                        padding-bottom: 4.5rem;
                        line-height: 2rem;
                        font-size: 1.25rem;
                        @media only screen and (max-width: $lg-desktop){
                            line-height: 1.75rem;
                            max-width: 850px;
                            font-size: 1rem;
                            padding-bottom: 3.5rem;
                        }
                        @media only screen and (max-width:$md-desktop){
                            line-height: 1.25rem;
                            font-size: .875rem;
                            padding-bottom: 3rem;
                            max-width: 750px;
                        }
                        @media only screen and (max-width: $lg-tab){
                            margin: auto;
                        }
                    }
                }
                .para-width-first{
                    max-width: 75%;
                    @media only screen and (max-width: $mb-xl){
                        text-align: center;
                        margin: auto;
                        padding-bottom: 2rem;
                    }
                }
                .para-width-second{
                    max-width: 80%;
                    @media only screen and (max-width: $mb-xl){
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
    }
}
