/********************************/
@media only screen and (max-width: $md-desktop)
{
    section {
        padding: 0 10vh;
    }
}

@media only screen and (max-width: 992px)
{
    section {
        padding: 0 30px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
        
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1000px;
    }
}
@media (min-width: 1366px) {
    .container {
        max-width: 1100px;
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 1560px) {
    .container {
        max-width: 1300px;
    }
}
.row-center{
    -webkit-justify-content: center;
    justify-content: center;
}
.headline1{
    @include typo($font-family, 600, 3.375);
    font-size: 2.75rem;
    color: $color-red;
    line-height: 3.5rem;
    @media only screen and (max-width: $lg-desktop){
        font-size: 2.25rem;
        line-height: 2.5rem;    
    }
    @media only screen and (max-width: $md-desktop){
        font-size: 1.75rem;
        line-height: 2.25rem;
        max-width: 600px;
        margin: auto;
    }
}
.headline2{
    @include typo($font-family, 300, 2.813);
    font-size: 2.25rem;
    color: $color-primary;
    font-weight: 300;
    line-height: 2.85rem;
    @media only screen and (max-width: $lg-desktop){
        font-size: 1.875rem;
        line-height: 2.35rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: 1.525rem;
        line-height: 2rem;
    }
}
.headline3{
    @include typo($font-family, 500, 2.063);
    font-size: 1.63rem;
    line-height: 2.5rem;
    color: $color-primary;
    @media only screen and (max-width: $lg-desktop){
        font-size: 1.425rem;
        line-height:2rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

}
.headline4{
    @include typo($font-family, 400, 1.5);
    font-size: 1.425rem;
    line-height: 1.875rem;
    color: $color-red;
    word-break: break-all;
    @media only screen and (max-width: $lg-desktop){
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: 1rem;
        line-height: 1.325rem;
    }
}
.headline5{
    @include typo($font-family, 400, 1.781);
    font-size: 1.325rem;
    color: $color-primary;
    @media only screen and (max-width: $lg-desktop){
        font-size: 1.125rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: .938rem;
    }
}
.body-para{
    @include typo($font-family, 300, 1.406);
    font-size: 1rem;
    line-height: 1.75rem;
    color: $color-darkgrey;
    @media only screen and (max-width: $lg-desktop){
        font-size: .875rem;
        line-height: 1.5rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: .725rem;
        line-height: 1.125rem;
    }
}
.body-para-second{
    @include typo($font-family, 300, 1.406);
    font-size: 1.25rem;
    color: $color-primary;
    @media only screen and (max-width: $lg-desktop){
        font-size: 1rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: .785rem;
    }
}
.caption{
    @include typo($font-family, 400, 1.425);
    font-size: .938rem;
    color: $color-grey;
    @media only screen and (max-width: $lg-desktop){
        font-size: .785rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: .685rem;
    }
}
.sec-caption{
    @include typo($font-family, 500, 1.5);
    font-size: 1.25rem;
    color: $color-red;
    text-transform: uppercase;
    @media only screen and (max-width: $lg-desktop){
        font-size: .938rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: .785rem;
    }
}
.sub-caption{
    @include typo($font-family, 400, 1.313);
    font-size: .875rem;
    color: $color-yellow;
    text-transform: Uppercase;
    @media only screen and (max-width: $lg-desktop){
        font-size: .725rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: .585rem;
    }
}
.sm-caption{
    @include typo($font-family, 300, 1.406);
    font-size: .875rem;
    color: $color-grey;
    @media only screen and (max-width: $lg-desktop){
        font-size: .685rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: .625rem;
    }
}
.name-caption{
    font-size: .844rem;
    @include typo($font-family, 700, 1.313);
    color: $color-red;
}
.org-caption{
    font-size: .75rem;
    @include typo($font-family, 300, 1.5);
    color: $color-primary;
}
.circle{
    position: absolute;
    @include border-radius-circle(50%);
}
.red-gradient{
    background-color:rgba($color: $color-red, $alpha: 0.07);
}
.lightred-gradient{
    background-color:rgba($color: $color-red, $alpha: 0.05);
}
.pink-gradient{
    background: linear-gradient(to bottom, $color-pink, $color-pinkgradient, $color-white);
    opacity: 0.3;
}
.orange-gradient{
    opacity: 0.2;
    @include linear-gradient(180deg, $color-lightorange, $color-yellow);
}
.lightorange-gradient{
    opacity: 0.15;
    @include linear-gradient(180deg, $color-lightorange, $color-yellow);
}

// header
.pdt-100{
    padding-top: 6.4rem !important;
    @media only screen and (max-width: $lg-desktop){
        padding-top: 4rem !important;
    }
}

.pd-100{
    padding-top: 6.5rem !important;
    padding-bottom: 6.5rem !important;
}
.pdt-88{
    padding-top: 5.5rem !important;
}
.pdb-88{
    padding-bottom: 5.5rem !important;
}
.pdt-81{
   padding-top: 5.063rem !important;
}
.pdt-113{
    padding-top: 7.063rem !important;
}
.pdb-134{
    padding-bottom: 8.375rem !important;
}
// case
.pdt-127{
    padding-top: 7.969rem !important;
}
.pdb-142{
    padding-bottom: 8.906rem !important;
}
.pdt-47{
    padding-top: 2.953rem !important;
}
.pdt-117{
    padding-top: 7.313rem !important;
}

// geographical
.pdt-47{
    padding-top: 2.953rem !important;
}
.pdb-47{
    padding-bottom: 2.953rem !important;
}

// resources
.pdt-150{
    padding-top: 9.375rem !important;
    @media only screen and (max-width: $md-desktop){
        padding-top: 7rem !important;
    }
}
.pdb-150{
    padding-bottom: 9.375rem !important;
    @media only screen and (max-width: $md-desktop){
        padding-bottom: 7rem !important;
    }
}

//tesimonials
.pdt-91{
    padding-top: 5.179rem !important;
}
.pdb-91{
    padding-bottom: 5.179rem !important;
}
.pdt-115{
    padding-top:8rem !important;
}
.pdt-115{
    padding-bottom: 8rem !important;
}


//form
.pdt-111{
    padding-top: 6.938rem !important;
}
.pdb-50{
    padding-bottom: 3.125rem !important;
}

// facts
// grid-section
.pdb-85{
    padding-bottom: 5.313rem !important;
}
.pdt-54{
    padding-top: 3.375rem !important;
}
.pdb-37{
    padding-bottom: 2.313rem !important;
}
.pdt-60{
    padding-top: 3.75rem !important;
}
.pdb-60{
    padding-bottom: 3.75rem !important;
    @media only screen and (max-width: $md-desktop){
        padding-bottom: 2.75rem !important;
    }
}
.pdt-130{
    padding-top: 8.25rem !important;
    @media only screen and (max-width: $md-desktop){
        padding-top: 6rem !important;
    }
}
.pdb-130{
    padding-bottom: 8.25rem !important;
    @media only screen and (max-width: $md-desktop){
        padding-bottom: 6rem !important;
    }
}
.pdt-92{
    padding-top: 5.75rem !important;
}
.pdt-140{
    padding-top: 8.813rem !important;
}

.mb-30{
    margin-bottom: 4rem !important;
}

// R&D
.pdt-126{
    padding-top: 7.875rem !important;
    @media only screen and (max-width: $md-desktop){
        padding-top: 5rem !important;
    }
}
.pdb-126{
    padding-bottom: 7.875rem !important;
    @media only screen and (max-width: $md-desktop){
        padding-bottom: 5rem !important;
    }
}
.pdt-148{
    padding-top: 9.25rem !important;
}
.pdb-110{
    padding-bottom: 6.875rem !important;
}
.pdb-119{
    padding-bottom: 7.438rem !important;
}

//facts1
.pdt-140{
    padding-top: 8.813em !important;
    @media only screen and (max-width: $md-desktop){
        padding-top: 8rem  !important;
    }
}
.pdt-98{
    padding-top: 6.125rem !important;
}
.pdb-98{
    padding-bottom: 6.125rem !important;
}
.pdb-115{
    padding-bottom: 7rem !important;
    @media only screen and (max-width: $md-desktop){
        padding-bottom: 5rem !important;
    }
}
.pdb-70{
    padding-bottom: 4.375rem !important;
}
.pdt-40{
    padding-top: 2.5rem !important;
}
//projects
.pdt-45{
    padding-top: 2.813rem !important;
}
.pdt-75{
    padding-top: 4.688rem !important;
}
.pdb-75{
    padding-bottom: 4.688rem !important;
}

//story
.pdt-95{
    padding-top: 5.938rem !important;
}
.pdb-95{
    padding-bottom: 5.938rem !important;
}
.pdt-68{
    padding-top: 4.25rem !important;
}
.pdb-68{
    padding-bottom: 4.25rem !important;
}
.pdb-80 {
    padding-bottom: 5rem !important;
    @media only screen and (max-width: $lg-desktop){
        padding-bottom: 4rem !important;
    }
    @media only screen and (max-width: $md-desktop){
        padding-bottom: 3rem !important;
    }
}
// contact
.pdt-56{
    padding-top: 3.5rem !important;
}
.pdb-62{
    padding-bottom: 3.875rem !important;
}
.pdt-26{
    padding-top: 1.625rem !important;
}

/********************************/

.banner-content{
    color: $color-primary;
    font-size: 1.25rem;
    @include typo($font-family, 400, 1.5);
}
/* .caption{
    font-size: 0.875rem;
    color: $color-grey;
    @include typo($font-family, 400, 1.5);
} */
.section-caption{
    font-size: 1rem;
    color: $color-red;
    letter-spacing: 3px;
    @include typo($font-family, 500, 1.5);
}
.factsNepal-para{
    font-size: 0.875rem;
    color: $color-darkgrey;
    @include typo($font-family, 300, 1.75);
}
.factsNepal-secpara{
    font-size: 1rem;
    color: $color-primary;
    @include typo($font-family, 300, 1.5);
}
// h3
.factsNepal-title{
    font-size: 1.65rem;
    color: $color-primary;
    @include typo($font-family, 300, 1.5);
}
// h4
.factsNepal-subtitle{
    font-size: 1.375rem;
    color: $color-red;
    @include typo($font-family, 400, 1.5);
    @media only screen and (max-width: $lg-desktop){
        font-size: 1.25rem;
    }
    @media only screen and (max-width: $md-desktop){
        font-size: 1rem;
    }
}
.factsNepal-sectitle{
    font-size: 1.5rem;
    color: $color-primary;
    @include typo($font-family, 500, 1.5);
}




.show{
    display: block;
}
.pdt-40{
    padding-top: 2.5rem !important;
}
.pdb-90{
    padding-bottom: 5.625rem !important;
}
.pdt-110{
    padding-top: 6.875rem !important;
}  

/* h1,h3,h4{
     line-height: 1.25 !important;
}
 */

/* span */
.span-10{
    font-size: 0.625rem !important;
}
.span-12{
    font-size: 0.75rem !important;
}
.span-14{
    font-size: 0.875rem !important;
}
.span-16{
    font-size: 1rem !important;
}
.span-18{
    font-size: 1.125rem !important;
}
.span-20{
    font-size: 1.25rem !important;
}


